$default_text_color: #EB4235;
$default_text_secondary_color: #F3827C;

@import "ember-cli-bootstrap-4/bootstrap";
@import "components/menu-left-cp";
@import "components/card-recipe-cp";

@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/fontawesome-webfont.eot');
  font-weight: normal;
  font-style: normal;
}

.recipes-container {
  margin-top: 15px;
}