<div class="col-3 menu-left-cp">
  <div class="logo-app text-center">
    <img class="logo" src="assets/cookbook-logo.png">
  </div>
  <hr>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-list"></i> Recipes</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-plus"></i> New recipe</a>
    </li>
    <hr>
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-list"></i> Ingredients</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-plus"></i> New ingredient</a>
    </li>
  </ul>
</div>