<div class="col-3 menu-left-cp">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Recipes</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">New recipe</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">New ingredient</a>
    </li>
  </ul>
</div>