<div class="col-3 menu-left-cp">
  <div class="logo-app text-center">
    <img class="logo" src="assets/cookbook-logo.png">
  </div>
  <hr>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <LinkTo @route="recipes" class="nav-link">
        <a class="nav-link" href="#"><i class="fa fa-list"></i> Recipes</a>
      </LinkTo>
    </li>
    <li class="nav-item">
      <LinkTo @route="new-recipe" class="nav-link">
        <a class="nav-link" href="#"><a class="nav-link" href="#"><i class="fa fa-plus"></i> New recipe</a></a>
      </LinkTo>
    </li>
    <hr>
    <li class="nav-item">
      <LinkTo @route="ingredients" class="nav-link">
        <a class="nav-link" href="#"><i class="fa fa-list"></i> Ingredients</a>
      </LinkTo>
    </li>
    <li class="nav-item">
      <LinkTo @route="new-ingredient" class="nav-link">
        <a class="nav-link" href="#"><a class="nav-link" href="#"><i class="fa fa-plus"></i> New ingredient</a></a>
      </LinkTo>
    </li>
  </ul>
</div>