.menu-left-cp {
  background-color: #F2F2F2;
  height: calc(100vh);
  position: sticky;
  z-index: 1000;
  a {
    color: $default_text_color;
    &:hover {
      color: $default_text_secondary_color;
    }
    &:active, &.active {
      background-color: #FFF;
      padding-left: 5px;
    }
  }

  .logo-app .logo {
    height: 110px;
    width: 110px;
    margin-left: -5px;
    margin-top: 10px;
    @media only screen and (max-width: 500px) {
      height: 50px;
      width: 50px;
    }

    @media only screen and (max-width: 250px) {
      height: 30px;
      width: 30px;
    }
  }


  .nav-link {
    padding: 0.1rem 0.1rem;
    word-break: break-all;  
  }
}