<div class="recipes-container">
  <br>
  <h2 class="color-text-default">New recipe</h2>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="formName">Name</label>
          <input type="text" class="form-control" id="formName" placeholder="Recipe 1">
        </div>
        <div class="form-group">
          <label for="formDescription">Description</label>
          <input type="text" class="form-control" id="formDescription" placeholder="description">
        </div>
        <div class="form-group">
          <label for="formNumberServings">Number of Servings</label>
          <input type="number" class="form-control" id="formNumberServings" placeholder="9">
        </div>
        <div class="form-group">
          <label for="formCookingTime">Cooking Time</label>
          <input type="text" class="form-control" id="formCookingTime" placeholder="10h">
        </div>
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>