<div class="recipes-container">
  <br>
  <h2 class="color-text-default">Recipes list <span class="badge badge-secondary">{{recipes.length}}</span></h2>
  <div class="row">
    {{#each this.recipeService.recipes as |recipe|}}
      <CardRecipe @recipe={{recipe}} />
    {{else}}
      <div class="col-sm-12 text-center">
        <span class="text-danger">
          --- No recipes --- 
        </span>
      </div>
    {{/each}}
  </div>
</div>